<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{path('article_accueil')}}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			{% if not app.user %}

				<li class="nav-item">
					<a class="nav-link " href="{{path('user_registre')}}">s'inscrire</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="{{path('app_login')}}">
						<i class="far fa-user ">
							<span>Mon Compte</span>
						</i>
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('user_dashbord')}}">Dashbord</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="{{path('user_info')}}">Information</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="{{path('mes_favoris')}}">Favoris
						<i class="fas fa-heart"></i>
					</a>
				</li>


				<li class="nav-item">
					<a class="nav-link " href="{{path('app_logout')}}">Deconnection</a>

				</li>
			{% endif %}
		</li>
	</ul>
</div></nav>
