<div class="col-1">
	<div class="side-bar">
		<h6 class="text-center bg-dark text-white rounded p-2">dernières annonces de votre ville</h6>
		<div class="side-move">
			{% for lastArticles in lastArticle | slice(0, 5) %}
				<div class="row shadow ">
					<div class="col-5 zIndex">
						<img src="{{vich_uploader_asset(lastArticles, 'imageFile') }}" style="height:80px;width:70px" class=" card-img-top rounded shadow zIndex" alt=" {{lastArticles.titre}}">
					</div>
					<div class="col-7 zIndex">
						<p class="zIndex">
							<a class="zIndex" href="{{path('user_article_show',{id:lastArticles.id})}}">{{lastArticles.titre}}</a>
						</p>
						<p class="text-danger font-weight-bolder zIndex">
							{{lastArticles.prix | toEuro}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- End Side bar-->
</div>
