{% extends "base.html.twig" %}

{% block title %}Ajoutez une Annonce
{% endblock %}


{% block body %}
	{{ include('/user/layouts/menu.html.twig')}}
	<div class="container col-md-6">
		<h1 class="text-center">Déposez une annonce</h1>
		{{ form_start(form_article) }}
		{{form_row(form_article.category)}}
		{{form_row(form_article.marque)}}
		{{form_row(form_article.carburant)}}
		{{form_row(form_article.titre)}}
		{{form_row(form_article.description)}}
		{{form_row(form_article.imageFile)}}
		{{form_row(form_article.prix)}}
		{{form_row(form_article.etat)}}
		<button class="btn btn-primary">Déposez</button>

		{{ form_end(form_article) }}
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(".custom-file #article_imageFile_file").change(function () {
var file = $("#article_imageFile_file").val();
$(".custom-file-label").html(file);
})
	</script>
{% endblock %}
