{% extends "base.html.twig" %}

{% block title %}Article show
{% endblock %}
{% block body %}
	{{ include('/user/layouts/menu.html.twig')}}
	<div class="container bg-info pb-5">
		<h2 class="text-center mb-4">Article en detail</h2>
		<div class="row">
			<div class="col-8">
				<div class="card " style="width: 30rem; margin-left:25%">
					<h5 class="card-header text-center">
						<span class="text-muted">{{user_article_show.category}}</span>
					</h5>
					<img src="{{vich_uploader_asset(user_article_show, 'imageFile') }}" class=" img-show" alt=" {{user_article_show.titre}}">

					<div class="card-body">
						<h6 class="card-title">
							<span class="font-weight-bolder">Marque :</span>
							<span class="text-muted ml-3">{{user_article_show.marque}}</span>
						</h6>
						<h6 class="card-title">
							<span class="font-weight-bolder">Type :</span>
							<span class="text-muted ml-3">
								{{user_article_show.titre}}</span>
						</h6>
						<h6 class="card-title">
							<span class="font-weight-bolder">Etat :</span>
							<span class="text-muted ml-3 badge badge-warning">{{user_article_show.etat}}</span>
						</h6>
						<p class="card-title">
							<span class="font-weight-bolder">Description :
							</span><br>
							<span class="text-muted ">{{user_article_show.description}}</span>
						</p>
						{#<p class="card-text">{{user_article_show.description}}</p>#}
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item ">
							<span class="font-weight-bolder">Prix :</span>
							<span class="text-success h5 font-weight-bolder">{{ user_article_show.prix|toEuro}}</span>
						</li>
						<li class="list-group-item ">
							<span class="font-weight-bolder">Ville:</span>
							<span class="text-success h5 font-weight-bolder">{{ user_article_show.user.ville ?? 'Toulouse'}}</span>
						</li>
						<li class="list-group-item">
							<span class="font-weight-bolder">Posted :</span>
							<small class="text-muted">
								{{user_article_show.createAt | date('d-m-Y') == "now" | date('d-m-Y') ? "Aujourd'hui" : user_article_show.createAt | date('d-m-Y')}}
								<span class="text-danger ml-4">{{user_article_show.createAt | date('H:i')}}</span>
							</li>
						</li>

					</small>
				</li>
			</ul>
			<small>
				by :
				{{user_article_show.user.nom ?? '' }}
				{{user_article_show.user.prenom ?? 'Inconnu'}}</small>
			<div class="card-footer btn btn-dark text-center  ">
				<a href="{{ app.user ? path('user_dashbord') : path('article_accueil')}}" class="text-info ">Back</a>

			</div>
		</div>


	</div>
	<button class="btn btn-dark text-white" id="contact_button" style='height:5%'>Contact</button>
	<div style="display:none" id="contact" class="col-4  badge-dark rounded " style='height:15%'>
		<h4>Contact</h4>
		<p>
			<span class="badge badge-warning text-muted ">{{user_article_show.user.prenom ?? 'Inconnu'}}</sapn>
		</p>
		<hr>
		<p class=" ">Téléphone :
			<span class="badge badge-warning text-muted p-2">{{user_article_show.user.telephone}}</span>
		</p>
		<p>Email :
			<span class="badge badge-warning text-muted p-2">{{user_article_show.user.email}}</span>
		</p>
	</div>
</div></div>{% endblock %}{% block javascripts %}<script>

$(document).ready(function () {

$("#contact_button").click(function () {
$("#contact").css("height", "15%").show();
$("#contact_button").hide();

});
});</script>{% endblock %}
