{% extends "base.html.twig" %}

{% block title %}Article show
{% endblock %}
{% block body %}
	{{ include('/user/layouts/menu.html.twig')}}
	<div class="container ">
		<div class="text-center">
			<h2 class="text-center">{{user_article_show.titre}}</h2>
			<img src="{{vich_uploader_asset(user_article_show, 'imageFile') }}" class=" img-show rounded shadow-lg" alt=" {{user_article_show.titre}}">
			<p>Prix :
				<span class="text-success h6">{{user_article_show.prix |  toEuro}}</sapn>
			</p>
			<p>Carburant :
				{{ user_article_show.carburant ?? 'NaN'}}</p>
		</div>
		<p>Description :
			{{ user_article_show.description ?? 'NaN'}}</p>
		<p>Ville:
			{{ user_article_show.user.ville ?? 'NaN'}}</p>
		<p>Etat:
			{{ user_article_show.etat ?? 'NaN'}}</p>

	</div>
</div>{% endblock %}
