
{% extends "base.html.twig" %}

{% block title%}Dashbord
{% endblock %}
{% block body %}
	{{ include('/user/layouts/menu.html.twig')}}
	<div class="container">

		<div class="jumbotron text-center">
			<h2>Bienvenue
			</h2>
			<p>{{app.user.nom}}
				{{app.user.prenom}}</p>
		</div>
		<div class="row">
			<div class="col-6">
				<a href="{{path('add_article')}}" class="btn btn-primary">Déposez une annonce</a>
			</div>
			<div class="col-6">
				<h6>{{ user_article | length > 1 ? "Articles Disponibles" : "Article Disponible" }}
					:
					<span class="badge badge-danger p-2">{{user_article | length == 0 ? 0 : user_article | length }}</span>
				</h6>
			</div>
		</div>
		<div class="div-form-recherche-dashbord">
			<form method="post" action="{{path('recherche_dashbord')}}">
				<div class="form-group d-flex mt-5 ">
					<input class="form-control mr-3" type="search" name="recherche" placeholder="Recherche un bien">
					<input type="hidden" name="token" value="{{csrf_token('search_article')}}">
					<button class="btn btn-danger">Recherche</button>
				</div>


			</form>


		</div>
		<hr>
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{label}} col-6 text-center">
					{{message}}
				</div>
			{% endfor %}
		{% endfor %}
		{% if user_article is empty %}
			<h2 class="text-center">Vous n'avez pas d'article
			</h2>
		{% endif %}
		{% for users_articles in user_article | reverse %}

			<div class="row">
				<div class="col-6">
					<div class="row bg-dark m-3 text-white rounded shadow-lg">
						<div class="col-4 p-1">
							<img src="{{vich_uploader_asset(users_articles, 'imageFile') }}" class="img-dashbord-article" alt=" {{users_articles.titre}}"/>
							<p class="text-center">
								<a href="{{path('user_article_show',{id:users_articles.id})}}">Voir</a>
							</p>
						</div>
						<div class="col-8">
							<p>Titre :
								<span class="text-warning h6">{{users_articles.titre | subCaractere(0,25)}}</sapn>
							</p>
							<p>Prix :
								<span class="text-warning h6">{{users_articles.prix |  toEuro}}</sapn>
							</p>

							<p>
								<small>Posted :
									{{users_articles.createAt | date('d-m-Y') == "now" | date('d-m-Y') ? "Aujourd'hui" : users_articles.createAt | date('d-m-Y')}}
									<span class="text-danger ml-4">{{users_articles.createAt | date('H:i')}}</span>
								</small>
							</p>
							<div class="d-flex">
								<a class="btn btn-info" href="{{path('user_article_edit',{id:users_articles.id})}}">Edite</a>
								<form method="post" action="{{path('article_delete',{id:users_articles.id})}}">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name='token' value="{{csrf_token('article_delete')}}">
									<button class="btn btn-danger ml-4">Delete</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6"></div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
