{% extends "base.html.twig" %}

{% block title%}Dashbord
{% endblock %}
{% block body %}
	{{ include('/user/layouts/menu.html.twig')}}
	<div class="container">
		<div class="jumbotron text-center">
			<h2>Bienvenue
			</h2>
			<p>{{app.user.nom}}
				{{app.user.prenom}}</p>
		</div>
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{label}} col-6 text-center">
					{{message}}
				</div>
			{% endfor %}
		{% endfor %}
		{% for users_articles in user_article %}

			<div class="row">
				<div class="col-6">
					<div class="row bg-dark m-3 text-white rounded shadow-lg">
						<div class="col-4 p-1">
							<img src="{{vich_uploader_asset(users_articles, 'imageFile') }}" class="img-dashbord-user" alt=" {{users_articles.titre}}"/>
							<p class="text-center">
								<a href="{{path('user_article_show',{id:users_articles.id})}}">Voir</a>
							</p>
						</div>
						<div class="col-8">
							<p>Marque :
								<span class="text-warning h6">{{users_articles.titre}}</sapn>
							</p>
							<p>Prix :
								<span class="text-warning h6">{{users_articles.prix |  toEuro}}</sapn>
							</p>

							<p>
								<small>Posted :
									{{users_articles.createAt | date('d-m-Y') == "now" | date('d-m-Y') ? "Aujourd'hui" : users_articles.createAt | date('d-m-Y')}}
									<span class="text-danger ml-4">{{users_articles.createAt | date('H:i')}}</span>
								</small>
							</p>
							<p>
								<a class="btn btn-info" href="{{path('user_article_edit',{id:users_articles.id})}}">Edite</a>
								<a class="btn btn-danger ml-4">Delete</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-6"></div>
			</div>


		{% endfor %}

	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
