{% extends "base.html.twig" %}

{% block title %}Mot de pass oublié
{% endblock %}
{% block body %}
	{{ include('/user/layouts/menu.html.twig')}}
	<div class="container text-center" style="width:50%">
		<h6 class="my-5">
			Créez votre nouveau  mot de passe</h6>
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{label}} ">
					{{message}}
				</div>
			{% endfor %}
		{% endfor %}
		{% if key_null == true %}
			<form method="post" action="{{path('password_reset',{key:key_id})}}">
				<div class="form-group ">
					<input class="form-control" type="password" name="password" placeholder="Entrez votre nouveau password" required>
				</div>
				<div class="form-group ">
					<input class="form-control" type="password" name="password-confirm" placeholder="Confirmez votre password" required>

				</div>
				<input type="hidden" name="token" value="{{csrf_token('mot_passe_reset')}}">
				<button class="btn btn-danger" type="submit">Envoyer</button>
			</form>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
